name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Runs every 12 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: Mritunjay67
          outputs: dist/snake-dark.svg?palette=github-dark

      - name: Upload Snake Animation
        uses: actions/upload-artifact@v3
        with:
          name: snake-dark
          path: dist/snake-dark.svg

      - name: Commit and Push to Output Branch
        uses: s0/git-publish@v1
        with:
          branch: output
          folder: dist
          base: main
          message: "Update snake animation"
